<!-- Gallery Section -->
<section id="gallery" class="projects-section bg-light">
    <div class="d-flex justify-content-center align-items-center mb-50px">
      <a href="gallery">
          <h1>Gallery</h1>
      </a>  
      </div>
  <div class="w-60 mx-auto">



    <div class="row">
      
      
      <div class="column">
        <div class="content">
          <div class="img-review" style="background-image: url({{gallery[0].link}});border-radius: 4px">
          </div>
          <h4 class="mt-20px">{{gallery[0].owner}}</h4>     
        </div>
      </div>
      <div class="column nature">
        <div class="content">
          <div class="img-review" style="background-image: url({{gallery[1].link}});border-radius: 4px">
          </div>
          <h4 class="mt-20px">{{gallery[1].owner}}</h4>        
        </div>
      </div>
      <div class="column nature">
        <div class="content">
          <div class="img-review" style="background-image: url({{gallery[2].link}});border-radius: 4px">
          </div>
          <h4 class="mt-20px">{{gallery[2].owner}}</h4>        
        </div>
      </div>




      <div class="column">
        <div class="content">
          <div class="img-review" style="background-image: url({{gallery[3].link}});border-radius: 4px">
          </div>
          <h4 class="mt-20px">{{gallery[3].owner}}</h4>        
        </div>
      </div>
      <div class="column nature">
        <div class="content">
          <div class="img-review" style="background-image: url({{gallery[4].link}});border-radius: 4px">
          </div>
          <h4 class="mt-20px">{{gallery[4].owner}}</h4>        
        </div>
      </div>
      <div class="column nature">
        <div class="content">
          <div class="img-review" style="background-image: url({{gallery[5].link}});border-radius: 4px">
          </div>
          <h4 class="mt-20px">{{gallery[5].owner}}</h4>
        </div>
      </div>



    </div>
</section>