<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Admin required</title>
  {% include "metadata_top.html" %}
</head>

<body id="page-top">
  {% include "headerandfooter/navigation.html" %}
  <!-- Header -->
  <header class="masthead-noti">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center mt-550px">
        <!-- <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a> -->
      </div>
    </div>
  </header>



  <div class="sign-up-body d-flex justify-content-center bg-secondary">
    <div class="sign-up-body1 d-flex justify-content-center align-items-center">
      <h1 class="text-light">You need permission to perform this action</h1>
    </div>
  </div>



  {% include "headerandfooter/contact_section.html" %}
  {% include "headerandfooter/footer.html" %}
  {% include "metadata_bot.html" %}
</body>

</html>