<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{ data.name }}</title>
  {% include "metadata_top.html" %}
</head>

<body>
  {% include "headerandfooter/navigation.html" %}
  {% include "postpage/header.html" %}

  {% include "postpage/intro_section.html" %}
  

  {% include "headerandfooter/contact_section.html" %}
  {% include "headerandfooter/footer.html" %}
  {% include "metadata_bot.html" %}
  
</body>

</html>
