<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Gallery</title>
    {% include "metadata_top.html" %}


</head>

<body>
    {% include "headerandfooter/navigation.html" %}
    {% include "headerandfooter/header.html" %}

    <div class="container gallery-container">

        <h1>Gallery</h1>


        <div class="tz-gallery">

            <div class="row">
                {% if user == owner %}
                {% for i in range(y-1,0,-1) %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ gallery[i].link }}">
                            <img src="{{ gallery[i].link }}" style="width: 100%; height: 250px">
                        </a>
                        <div class="caption">                          
                            <p>
                                <a href="{{ url_for('delete_image',image_id = gallery[i]._id,image_link = gallery[i].link,username = user ) }}">
                                    <button type="button" class="btn btn-primary">
                                        Delete
                                    </button>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                {% for i in range(y-1,0,-1) %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ gallery[i].link }}">
                            <img src="{{ gallery[i].link }}" style="width: 100%; height: 250px">
                        </a>
                        <div class="caption">
                            <h3>{{ gallery[i].owner }}</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}


            </div>

        </div>

    </div>



    {% include "headerandfooter/contact_section.html" %}
    {% include "headerandfooter/footer.html" %}
    {% include "metadata_bot.html" %}
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
</body>

</html>