<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Uploaded</title>
  {% include "metadata_top.html" %}
</head>

<body id="page-top">
  {% include "headerandfooter/navigation.html" %}
  {% include "headerandfooter/header.html" %}
  
  
    <div class="sign-up-body d-flex justify-content-center bg-secondary">
        <div class="sign-up-body1 d-flex justify-content-center align-items-center">
            <h1 class="text-light">Uploaded</h1>
        </div>
    </div>
  


  {% include "headerandfooter/contact_section.html" %}
  {% include "headerandfooter/footer.html" %}
  {% include "metadata_bot.html" %}
</body>

</html>